.form-control {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    width: 100%;
}

.form-control label {
    margin-bottom: .6em;
    font-weight: bold;
}

.form-control input {
    padding: .9em;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.form-control input::placeholder {
    color: #7b7b7b;
}